@model ModelosDispositivosListadoViewModel

@{
    ViewData["Title"] = "Modelos de Dispositivos";
}

<partial name="../Dispositivos/_Submenu" model="SubMenuDispositivos.ModelosDispositivos" />

<h2>Modelos de Dispositivos -  Listado</h2>
<div class="d-flex justify-content-between">
    <div>
        <h5>Listado de modelos de periféricos disponibles en inventario, especificando marca, modelo, tipo y técnico a cargo</h5>
    </div>
    <div>
        @if (User.IsInRole(Constantes.RolAdmin))
        {
            <a asp-action="Crear" style="width: 140px;" class="btn btn-success mb-3 ms-3">Añadir nuevo ...</a>
        }
    </div>
</div>

@*Animación de Carga*@
<div class="loading" style="text-align: center;">
    <div class="hourglass"></div>
</div>

@if (Model.ModelosDispositivos.Count > 0)
{
    <form method="post">
        <table summary="Tabla Modelos Dispositivos" id="tablaModelosDispositivos" class="table table-hover tablaRedimensionable">
            <thead>
                <tr>
                    @if (User.IsInRole(Constantes.RolAdmin))
                    {
                        <th style="width: 280px;">Acción</th>
                    }
                    <th>Tipo Dispositivo</th>
                    <th>Marca y Modelo</th>
                    <th>Serv. Técnico</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var modeloDispositivo in Model.ModelosDispositivos)
                {
                    <tr>
                        @if (User.IsInRole(Constantes.RolAdmin))
                        {
                            <td>
                                <button style="width: 100px;" class="btn btn-sm btn-success me-2" asp-action="Editar" formmethod="get" asp-route-Id="@modeloDispositivo.Id">
                                    Editar
                                </button>
                                @if (modeloDispositivo.Activo)
                                {
                                    <button style="width: 100px;" class="btn btn-sm btn-danger me-2" asp-action="Desactivar" asp-route-Id="@modeloDispositivo.Id">
                                        Desactivar
                                    </button>
                                }
                                else
                                {
                                    <button style="width: 100px;" class="btn btn-sm btn-success me-2" asp-action="Activar" asp-route-Id="@modeloDispositivo.Id">
                                        Activar
                                    </button>
                                }
                            </td>
                        }
                        <td>
                            @modeloDispositivo.TipoDispositivo.Titulo
                        </td>
                        <td title="Descripción: @modeloDispositivo.Descripcion">
                            @modeloDispositivo.Marca - @modeloDispositivo.Modelo
                        </td>
                        <td>
                            @modeloDispositivo.Tecnico.NombreEmpresa
                        </td>
                        <td>
                            @(modeloDispositivo.Activo ? "Si" : "No")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <h3 class="mt-3">No se encontraron modelos de dispositivos</h3>
}

@*DataTables*@
@section Scripts{
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const mensaje = urlParams.get("mensaje");
        if (mensaje !== null) {
            toastr.success(mensaje);
        }
        
        new DataTable('#tablaModelosDispositivos', {
            language: {
                url: '/lib/data-tables/json/es-ES.json'
            },
            order: [[4, 'desc']]
        });

    </script>
}