@model OficinasListadoViewModel

@{
    ViewData["Title"] = "Listado de Oficinas";
}

<h2>Oficinas y Centros -  Listado</h2>
<div class="d-flex justify-content-between">
    <div>
        <h5>Los datos contenidos en este listado se utilizarán para asignar la ubicación de la incidencia y los datos de contacto.</h5>
    </div>
    <div>
        @if (User.IsInRole(Constantes.RolAdmin))
        {
            <a asp-action="Crear" style="width: 140px;" class="btn btn-success mb-3 ms-3">Añadir nuevo ...</a>
        }
    </div>
</div>

@*Animación de Carga*@
<div class="loading" style="text-align: center;">
    <div class="hourglass"></div>
</div>

@if (Model.Oficinas.Count > 0)
{
    <form method="post">
        <table summary="Tabla Oficinas" id="tablaOficinas" class="table table-hover tablaRedimensionable">
            <thead>
                <tr>
                    @if (User.IsInRole(Constantes.RolAdmin))
                    {
                        <th style="width: 280px;">Acción</th>
                    }
                    <th>Cód. Centro</th>
                    <th>Nombre Centro</th>
                    <th>Teléfono</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oficina in Model.Oficinas)
                {
                    <tr>
                        @if (User.IsInRole(Constantes.RolAdmin))
                        {
                            <td>
                                <button style="width: 100px;" class="btn btn-sm btn-success me-2" asp-action="Editar" formmethod="get" asp-route-Id="@oficina.Id">
                                    Editar
                                </button>
                                @if (oficina.Activado)
                                {
                                    <button style="width: 100px;" class="btn btn-sm btn-danger me-2" asp-action="Desactivar" asp-route-Id="@oficina.Id">
                                        Desactivar
                                    </button>
                                }
                                else
                                {
                                    <button style="width: 100px;" class="btn btn-sm btn-success me-2" asp-action="Activar" asp-route-Id="@oficina.Id">
                                        Activar
                                    </button>
                                }
                            </td>
                        }
                        <td>
                            @oficina.Codigo
                        </td>
                        <td>
                            @oficina.Nombre
                        </td>
                        <td>
                            @oficina.Telefono
                        </td>
                        <td>
                            @(oficina.Activado ? "Si" : "No")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <h3 class="mt-3">No se encontraron oficinas dadas de alta</h3>
}

@*DataTables*@
@section Scripts{
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const mensaje = urlParams.get("mensaje");
        if (mensaje !== null) {
            toastr.success(mensaje);
        }
        new DataTable('#tablaOficinas', {
            language: {
                url: '/lib/data-tables/json/es-ES.json'
            },
            order: [[4, 'desc']]
        });
    </script>
}