@model IncidenciasListadoViewModel
@{
    ViewData["Title"] = "Listado de Averías";
}

<partial name="_Submenu" model="SubMenuIncidencias.Incidencias" />

<h2>Últimas averías</h2>
<div class="d-flex justify-content-between">
    <div>
        <h5>Listado de averías abiertas durante el último año natural, desde la más reciente a la más antigua.</h5>
    </div>
    <div>
        <a asp-action="Crear_Seleccionar" style="width: 140px;" class="btn btn-success mb-3 ms-3">Nueva Avería</a>
    </div>
</div>

@*Animación de Carga*@
<div class="loading" style="text-align: center;">
    <div class="hourglass"></div>
</div>

@if (Model.Incidencias.Count > 0)
{
    <form method="post">
        <table summary="Tabla Listado Incidencias" id="tablaIncidencias" class="table table-hover tablaRedimensionable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th title="Pasar ratón sobre un botón para obtener descripción. Puede hacer búsquedas sobre averías 'activas' o 'canceladas' " style="width: 190px;">
                        Acciones
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16">
                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                            <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </th>
                    <th title="Pasar ratón sobre una fecha para mostrar emergente con descripción de avería.">
                        Fecha/Hora
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16">
                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                            <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </th>
                    <th>Usuario</th>
                    <th title="Pasar ratón sobre el centro para mostrar emergente con el nombre completo.">
                        Ofi.
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16">
                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                            <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </th>
                    <th class="ColumnaTipoDispositivo">Tipo Disp.</th>
                    <th>Dispositivo</th>
                    <th class="ColumnaIncidenciaTecnico">Técnico</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var incidencia in Model.Incidencias)
                {
                    <tr>
                        <td>
                            @incidencia.Id
                        </td>
                        <td>
                            <button title="Información Detallada" style="width: 40px;" class="btn btn-sm btn-success p-1" asp-action="Examinar" formmethod="get" asp-route-Id="@incidencia.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </button>
                            @if (incidencia.Activo)
                            {
                                @if (incidencia.Descripcion.Contains("RECLAMAR la avería adjunta"))
                                {
                                    <button title="Existe Reclamación" style="width: 40px;" class="blink-text btn btn-sm btn-warning p-1" asp-action="PreReclamar" formmethod="get" asp-route-Id="@incidencia.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                                            <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                                            <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                                        </svg>!
                                    </button>
                                }
                                else
                                {
                                    <button title="Reclamar Avería" style="width: 40px;" class="btn btn-sm btn-warning p-1" asp-action="PreReclamar" formmethod="get" asp-route-Id="@incidencia.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                                            <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                                            <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                                        </svg>
                                    </button>
                                }
                                <button title="Cancelar Avería" style="width: 40px;" class="btn btn-sm btn-danger p-1" asp-action="PreCancelar" formmethod="get" asp-route-Id="@incidencia.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg><span hidden>Activas Activos</span>
                                </button>
                            }
                            else
                            {
                                <button title="Reclamar Avería" disabled style="width: 40px;" class="btn btn-sm btn-secondary p-1" asp-action="PreReclamar" formmethod="get" asp-route-Id="@incidencia.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                                        <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                                        <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                                    </svg>
                                </button>
                                <button title="Avería Cancelada" style="width: 40px;" class="btn btn-sm btn-secondary p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                    </svg><span hidden>Canceladas Cancelados</span>
                                </button>
                            }
                        </td>
                        @{
                            List<ModeloDispositivo> listaModelosDispositivos = ViewBag.ModelosDispositivos;
                            ModeloDispositivo modeloDispositivo = listaModelosDispositivos.Where(md => md.Id == incidencia.Dispositivo.ModeloDispositivoId).FirstOrDefault();
                            List<TipoDispositivo> listaTiposDispositivos = ViewBag.TiposDispositivos;
                            TipoDispositivo tipoDispositivo = listaTiposDispositivos.Where(td => td.Id == modeloDispositivo.TipoDispositivoId).FirstOrDefault();
                            List<Tecnico> listaTecnicos = ViewBag.Tecnicos;
                            Tecnico tecnico = listaTecnicos.Where(t => t.Id == modeloDispositivo.TecnicoId).FirstOrDefault();
                        }
                        <td title="@incidencia.Descripcion">
                            @incidencia.FechaHora.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @incidencia.Usuario
                        </td>
                        <td title="@incidencia.Oficina.Nombre">
                            @incidencia.Oficina.Codigo
                            <span hidden>@incidencia.Oficina.Nombre</span>
                        </td>
                        <td class="ColumnaTipoDispositivo">
                            @tipoDispositivo.Titulo
                        </td>
                        <td>
                            @modeloDispositivo.Marca @modeloDispositivo.Modelo
                        </td>
                        <td class="ColumnaIncidenciaTecnico">
                            @tecnico.NombreEmpresa
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <h3 class="mt-3">No se encontraron averías</h3>
}

@*DataTables*@
@section Scripts{

    <script>

        

        // Notificación
        const urlParams = new URLSearchParams(window.location.search);
        const mensaje = urlParams.get("mensaje");
        if (mensaje !== null) {
            toastr.success(mensaje);
            urlParams.delete("mensaje");
        }

        const resultadoEnvio = urlParams.get("resultadoEnvio");
        if (resultadoEnvio !== null) {
            setTimeout(function () {
                if (resultadoEnvio.includes("ERROR")) {

                    toastr.error(resultadoEnvio);
                }
                else if (resultadoEnvio.includes("AVISO")) {

                    toastr.warning(resultadoEnvio);
                }
                else {
                    toast.success(resultadoEnvio);
                }
            }, 500);
        }

        // DataTables
        new DataTable('#tablaIncidencias', {
            language: {
                url: '/lib/data-tables/json/es-ES.json'
            },
            order: [0, 'desc'],
            columnDefs: [
                {
                    targets: "_all",
                    sortable: false
                },
                {
                    target: 0,
                    visible: false
                }
            ]
        });

        const urlListaIncidencias = '@Url.Action("Index")';
        setTimeout(function () { location.href = urlListaIncidencias }, 300000);

    </script>
}

